* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: #56a69e;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}

.container {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    width: 95%;
    max-width: 1000px;
    overflow: hidden;
}

.left-panel, .right-panel {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-panel {
    background: linear-gradient(135deg, #3fc2c2, #a463d9);
    color: white;
}

.left-panel img {
    max-width: 100%;
    height: auto;
}

.right-panel h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #111;
    text-align: center;
}

.desc {
    font-size: 16px;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
    line-height: 1.5;
    max-width: 90%;
}

#active-warning {
    display: none;
    width: 100%;
}

.warning {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255 232 229);
    padding: 13px;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 2px rgb(200, 200, 200);
}

.display-warning {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.warning span, .display-warning span {
    color: rgb(204 54 41);
}

.warning .icon-warning {
    cursor: default;
    -webkit-user-select: none;
    user-select: none;
}

.warning .icon-close {
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-size: 18px;
    margin-bottom: 6px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1.5px solid #aaa;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 12px;
    border: none;
    border-radius: 30px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
    width: 100%;
    max-width: 300px;
}

.signin {
    background-color: #e94e4e;
    color: #fff;
}

.signin:hover {
    background-color: #cf3e3e;
}

.register-prompt {
    display: flex;
    gap: 7px;
}

.register-prompt a {
    color: blue;
    font-weight: 500;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        height: auto;
    }

    .left-panel img {
        max-width: 50%;
        height: auto;
    }

    .left-panel {
        order: 1;
        padding: 20px;
    }

    .right-panel {
        order: 1;
        padding: 30px 20px;
    }

    .right-panel h1 {
        font-size: 18px;
    }

    .desc {
        font-size: 14px;
    }
}
